
.idea/
csv
text

001_Keras_Bidirectional_LSTM_baseline/model
001_Keras_Bidirectional_LSTM_baseline/output

002_bidirectional_lSTM_with_convolution/model
002_bidirectional_lSTM_with_convolution/submit_csv

003_text_cnn/model
003_text_cnn/submit_csv
003_text_cnn/fasttext/